<! DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
    </head>
    <body>
        <p>
            Hey <%= @name %>, you have registered sucessfully for <%= @title %>
        </p>
        <p>
            Your Registration Number is <%= @id %>
        </p>
        <p>
            Thanks, for registering.
        </p>
        <p>
            Thanks & Regards,
            Team Registration Hub
        </p>
    </body>
</html>